# Ignore node_modules
node_modules
*.log
yarn-debug.log*
yarn-error.log*

# Ignore build directories
.next
out

# Ignore TypeScript build artifacts
dist
build
.vite
*.tsbuildinfo

# Ignore local environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore git and other version control directories
.git
.gitignore

# Ignore Docker-specific files
Dockerfile
.dockerignore

# Ignore IDE settings
.vscode/
.idea/
*.iml

# Ignore temporary files and directories
tmp/
# temp/
*.swp
*.bak
*.tmp
*.old

# Ignore npm debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Ignore output of the 'next export' command
out/

# Ignore test and coverage reports
coverage/
.nyc_output/
.jest/

# Ignore miscellaneous files
README.md
*.local
# *.lock
*.log
*.log.*

# Ignore cache directories
.cache
.next/cache

# Ignore test files
__tests__
__mocks__
__snapshots__

# Storybook
.storybook
stories

# e2e test
e2e
tests-examples