@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-color: #137e6e;
  --dark-gray: #282828;
  --light-gray: #a7a7a7;
  --background: #f4f4f4;
}

body {
  color: var(--dark-gray);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
